<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Burning Buttons</a>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <%= link_to 'Sign Out', destroy_admin_session_path, method: :delete, class: "nav-link" %>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
              Logs
            </a>
          </li>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Logs</h1>
      </div>
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <ul class="nav">
          <% @logs.each do |log| %>
            <li class="nav-item">
              <%= link_to log, '#', id: 'log_' + log, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="nav log_buttons">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="info" id="infoCheck" checked>
          <label class="form-check-label" for="infoCheck">
            show info messages
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="warn" id="warnCheck" checked>
          <label class="form-check-label" for="warnCheck">
            show warn messages
          </label>
        </div>
      </div>
      <div class="log_container">

      </div>


      <canvas class="my-4 w-100 chartjs-render-monitor" id="myChart" width="1078" height="455" style="display: block; width: 1078px; height: 455px;"></canvas>

    </main>
  </div>
</div>
<h1>Logs Page</h1>
<% @logs.each do |log| %>
  <h2><%= link_to log, open_admins_logs_path(name: log) %></h2>
<% end %>