<div class="log_name"><%= params[:name] %></div>

<div class="log_container">
  <% @messages.each do |message| %>
    <%= message %><br>
  <% end %>
</div>
<div class="nav log_buttons">
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="info" id="infoCheck" checked>
    <label class="form-check-label" for="infoCheck">
      show info messages
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="warn" id="warnCheck" checked>
    <label class="form-check-label" for="warnCheck">
      show warn messages
    </label>
  </div>
</div>
