<% @sources %>

<table class="table">
  <thead>
    <tr scope="col"><h3>Forecast Accuracy Rate</h3></tr>
    <tr>
      <th scope="col">Source</th>
      <th scope="col">Current Temperature</th>
      <th scope="col">+1 Day</th>
      <th scope="col">+2 Days</th>
      <th scope="col">+3 Days</th>
      <th scope="col">+4 Days</th>
      <th scope="col">+5 Days</th>
    </tr>
  </thead>
  <tbody>
    <% @sources.each do |s| %>
      <tr>
        <th scope="row"><%= s.name %></th>
        <% s.global_rates.where(location_id: @location.id).order(:days).each do |gr| %>
          <td><%= "#{gr.rate.round(3)} (#{gr.true_strike}/#{gr.strike_count})"%></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>