<li class="nav-item">
  <a class="nav-link <%= 'active' if day_number.to_i.zero? %>" id="our_forecast-<%= day_number %>-tab" data-toggle="tab" href="#our_forecast-<%= day_number %>" role="tab">
    <%= day_name(day_number) %>
  </a>
</li>