<div class="tab-pane fade <%= 'show active' if day_number.to_i.zero? =%>" id="forecast-<%= day_number %>" role="tabpanel" aria-labelledby="forecast-<%= day_number %>-tab">
    <p class="mt-4"><%= t('views.weathers.provided_by') + ': ' + (data[:source] || t('views.error.source_no t_found')) %></p>

    <%- data.first(4).each do |hour, weather| %>
      <%- if weather.class == Hash && weather[:temperature].present?  && hour % 6 == 0 %>
        <div class="d-inline-block hour-forecast mr-5">
          <div class="time">
            <%= (Date.today + hour.hours).strftime('%H:%M') %>
          </div>
          <div class="temperature mt-2">
            <%= weather[:temperature] < 0 ? weather[:temperature] : "+#{weather[:temperature]}"  %>°С
          </div>
        </div>
      <%- end %>
    <%- end %>
</div>
