<div class="p-3">

  <h2>Current Temperature</h2>
  <p class="mt-4"><%= "Provided by: #{@best_source.name}" %></p>
  <div class="mt 2">Temperature <%= @location.temperatures.where(source: @best_source).last&.temperature %>°С</div>

  <br>
  <h2> Our Forecast </h2>
  <ul class="nav nav-tabs" id="our_forecast-tabs" role="tablist">
    <%= render 'rates/our_predictions', day_number: '0' %>
    <%- @our_weathers.except("#{Date.today}").each do |day_number, _source_data| %>
      <%= render 'rates/our_predictions', day_number: day_number %>
    <%- end %>
  </ul>

  <div class="tab-content" id="our_forecast-content">

    <%= render 'rates/our_temperatures', day_number: '0', data: @our_weathers["#{Date.today}"] %>

    <%- @our_weathers.except("#{Date.today}").each do |day_number, data| %>
      <%= render 'rates/our_temperatures', day_number: day_number, data: data %>
    <%- end %>
  </div>

  <br>
  <h2> Forecast </h2>

  <ul class="nav nav-tabs" id="forecast-tabs" role="tablist">
    <%= render 'rates/day_tab', day_number: '0' %>

    <%- @weathers.except("#{Date.today}").each do |day_number, _source_data| %>
      <%= render 'rates/day_tab', day_number: day_number %>
    <%- end %>
  </ul>

  <div class="tab-content" id="forecast-content">

    <%= render 'rates/temperatures', day_number: '0', data: @weathers["#{Date.today}"] %>

    <%- @weathers.except("#{Date.today}").each do |day_number, data| %>
      <%= render 'rates/temperatures', day_number: day_number, data: data %>
    <%- end %>
  </div>

  <br>
  <div class="tab-content" id="rates-content">
    <%= render 'rates/global_rates' %>
  </div>
</div>
